<div class="container">
    <div class="row mb-2 mt-2 text-center">
        <div class="col-md-4">
            <h5> User Management Dashboard</h5>
            <small *ngIf="titleAction$ | async as title">{{title}}</small>
        </div>
    </div>
</div>
<!-- nav bar -->
 <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="nav nav-pills">
            <a  class="nav-item nav-link active ml-1" (click)="changeTitle('Users')"
            data-toggle ="tab" 
            ><i class="fa fa-users"></i> Users</a>
            <a  class="nav-item nav-link  ml-3" (click)="changeTitle('Settings')"
             data-toggle="tab"><i class="fa fa-cogs"></i> Settings</a>
            <a  class="nav-item nav-link mr-3" (click)="changeTitle('Profile')"
            data-toggle="tab">
                Welcome, Sadaf <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
 </nav>
 <!-- Main content -->
  <div class="tab-content mt-3" id="myTabContent">

    <!-- user table-->
<div class="tab-pane fade show active" id="users">
    <div class="mb-3 float-right">
        <div class="btn-group mr-2">
            <form action="" class="form-inline my-2 my-lg-0 justify-content-center">
                <input type="search" class="form-control mr-sm-2"
                 name="searchFileName" placeholder="search users..">
            </form>
            <button type="button" class="btn btn-info" data-toggle="model" 
            data-taget="#addUserModel"> 
            <i class="fa fa-plus"> </i> New user</button>
        </div>
        <div class="btn-group">
            <button type="button" (click)="getUsers(true)" class="btn btn-info">
                <i *ngIf="refreshing" class="fas fa-sync fa-spin"> </i> 
                <i *ngIf="!refreshing" class="fas fa-sync"></i> </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="table-borderless">
            <tr class="text-center">
                <th>Photo</th>
                <th>User ID</th>
                <th>Fistname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody *ngFor="let appUser of users">
            <tr class="text-center">
                <td><img src="{{appUser?.profileImageURL}}" alt="" height="40" width="40" class="rounded-circle img-fluid img-thumbnail"></td>
                <td (click)="onSelectUser(appUser)">{{appUser?.userId}}</td>
                <td (click)="onSelectUser(appUser)">{{appUser?.firstname}}</td>
                <td (click)="onSelectUser(appUser)">{{appUser?.lastname}}</td>
                <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>
                <td (click)="onSelectUser(appUser)">{{appUser?.email}}</td>
                <td>
                    <span [hidden]="!appUser?.active" class="badge badge-success">Active</span>
                    <span [hidden]="appUser?.active" class="badge badge-danger">Inactive</span>
                </td>
                <td>
                    <div class="btn-group">

                        <button class="btn btn-outline-info" (click)="onEditUser(appUser)" >
                        <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger" (click)="onDeleteUser(appUser.uid)">
                            <i class="fas fa-trash"></i>
                         
                        </button>
                    </div>
                </td>
                
            </tr>
        </tbody>
        <button [hidden]="false" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal">
            
        </button>
        <button [hidden]="false" type="button" id="openUserEdit" data-toggle="modal" data-target="#editUserModal">          
        
        </button>        
   
    </table>

</div>

<!-- modal user info -->
 <div class="modal fade bd-example-modal-lg" tabindex ="-1" id="viewUserModal" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role ="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">{{selectedUser?.lastname}} {{selectedUser?.firstname}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12  col-sm-auto">
                                    <div class="mx-auto " style="width:120px">

                                        <img class="rounded" height="120" width="120" 
                                        src="{{selectedUser?.profileImageURL}}" alt="selectedUser?.firstname">
                                    </div>
                                
                            </div>
                        </div>

                        <div class="col d-flex flex-column flex-sm-row justify-content-between">
                            <div class="text-center text-sm-left mb-sm-0">
                                <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedUser?.firstname}} {{selectedUser?.lastname}}</h6>
                                <p class="mb-1"> {{selectedUser?.username}}</p>
                                <div class=""> Status : 
                                    <span [hidden]="!selectedUser?.active" class="badge badge-success"> Active</span>
                                    <span [hidden]="selectedUser?.active" class="badge badge-danger"> Inactive</span>
                                </div>

                                <div class="text-muted">
                                    <small>
                                        {{selectedUser?.joinDate | date:'medium'}}
                                </small>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="fa fa-id-badge float-right"> {{selectedUser?.userId}}</i>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-envelope float-right"> {{selectedUser?.email}}</i>
                </li>

                <li class="list-group-item">
                    <i class="fa fa-shield-alt float-right"> {{selectedUser?.role}}</i>

                </li>

                <li *ngIf="selectedUser?.lastLoginDateDisplay" class="list-group-item">
                    <i class="fa fa-sign-in-altfloat-right"> {{selectedUser?.lastLoginDateDisplay | date:'medium'}}</i>
                </li>
                <li class="list-group-item">
                    <span [hidden]="selectedUser?.notLocked">
                    <i class="fa fa-lock float-right" style="color:red;"> Account Locked</i>
                </span>
                <span [hidden]="!selectedUser?.notLocked">
                    <i class="fa fa-lock float-right" style="color:green;"> Account UnLocked</i>
                </span>
                </li>

            </ul>

        </div>
    </div>

 </div>


  </div>